--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.37.1
sentence-transformers>=2.7.0
scikit-learn>=1.5.2
numpy>=2.0.0
pandas>=2.2.3
torch==2.5.1+cpu
transformers>=4.44.2
tokenizers>=0.19.1
